*.o
*.so
.depend
NrBlockEncode
NrEncoder
NrEncoderSh
NrRecFrontend
NrRecFrontendSh
NrReceiver
NrReceiverSh
NrServer
NrServerSh
NrTransmitter
NrTransmitterSh
xtest
xtestSh
socktest
lib
libXxStd/XxStdTest
